In [1]:
import pandas as pd
import json
import requests
import matplotlib.pyplot as plt
from scipy import stats
# from config import api_key

In [2]:
coffee_price = pd.read_csv('../Data/Raw/global_price_of_coffee.csv')
# print(coffee_price.head())
# print(coffee_price.shape)
coffee_price.head()

         DATE  PCOFFOTMUSDM
0  1990-01-01     75.829987
1  1990-02-01     84.010010
2  1990-03-01     93.959991
3  1990-04-01     93.730011
4  1990-05-01     92.019989

In [3]:
coffee_price['DATE'] = pd.to_datetime(coffee_price['DATE'])
coffee_price['Year'] = coffee_price['DATE'].dt.year

average_price_by_year = coffee_price.groupby('Year')['PCOFFOTMUSDM'].mean().round(2)

average_price_by_year.head()

Year
1990     89.15
1991     85.03
1992     61.74
1993     71.12
1994    147.35
Name: PCOFFOTMUSDM, dtype: float64