In [25]:
import pandas as pd
import json
import requests
import matplotlib.pyplot as plt
from scipy import stats
# from config import api_key

In [26]:
coffee_price = pd.read_csv('../Data/Raw/global_price_of_coffee.csv')
# print(coffee_price.head())
# print(coffee_price.shape)
coffee_price.head()

         DATE  PCOFFOTMUSDM
0  1990-01-01     75.829987
1  1990-02-01     84.010010
2  1990-03-01     93.959991
3  1990-04-01     93.730011
4  1990-05-01     92.019989

In [27]:
# Convert DATE from int64 to Datetime
coffee_price['DATE'] = pd.to_datetime(coffee_price['DATE'])

# Filter to just the year within the Datetime
coffee_price['Year'] = coffee_price['DATE'].dt.year

# Groupby year to find the average of the price of coffee for each year 
average_price_by_year = coffee_price.groupby('Year')['PCOFFOTMUSDM'].mean().round(2)

# Reset index to numeric value
coffee_price = average_price_by_year.reset_index()

# Rename PCOFFOTMUSDM to Global price of Coffee
coffee_price = coffee_price.rename(columns={'PCOFFOTMUSDM': 'Global Price of Coffee'})

coffee_price

    Year  Global Price of Coffee
0   1990                   89.15
1   1991                   85.03
2   1992                   61.74
3   1993                   71.12
4   1994                  147.35
5   1995                  150.83
6   1996                  121.97
7   1997                  188.93
8   1998                  135.47
9   1999                  103.88
10  2000                   87.20
11  2001                   62.28
12  2002                   61.46
13  2003                   64.17
14  2004                   80.48
15  2005                  114.85
16  2006                  114.41
17  2007                  123.61
18  2008                  139.71
19  2009                  143.75
20  2010                  196.05
21  2011                  271.11
22  2012                  186.44
23  2013                  139.48
24  2014                  200.36
25  2015                  159.90
26  2016                  163.84
27  2017                  150.76
28  2018                  132.71
29  2019                  130.56
30  2020                  150.83
31  2021                  204.69
32  2022                  255.47
33  2023                  205.56