In [2]:
import pandas as pd
import json
import requests
import matplotlib.pyplot as plt
from scipy import stats
# from config import api_key

In [9]:
coffee_price = pd.read_csv('../Data/Raw/global_price_of_coffee.csv')
# print(coffee_price.head())
# print(coffee_price.shape)
coffee_price.head()

         DATE  PCOFFOTMUSDM
0  1990-01-01     75.829987
1  1990-02-01     84.010010
2  1990-03-01     93.959991
3  1990-04-01     93.730011
4  1990-05-01     92.019989