In [31]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import hvplot.pandas

# Turn off warning messages
import warnings
warnings.filterwarnings("ignore")

Coffee Price of Arabica Spieces

In [32]:
coffee_price_arabica = pd.read_csv('../Data/Raw/global_price_of_coffee_arabica.csv')

coffee_price_arabica.head()

         DATE  PCOFFOTMUSDM
0  1990-01-01     75.829987
1  1990-02-01     84.010010
2  1990-03-01     93.959991
3  1990-04-01     93.730011
4  1990-05-01     92.019989

In [33]:
# Change DATE to datetime dtype
coffee_price_arabica['DATE'] = pd.to_datetime(coffee_price_arabica['DATE'])
# Filter to only the year 
coffee_price_arabica['Years'] = coffee_price_arabica['DATE'].dt.year

# Groupby Year to average the respective months of coffee prices
average_price_by_year = coffee_price_arabica.groupby('Years')['PCOFFOTMUSDM'].mean().round(2)

# Reset index
coffee_price_arabica = average_price_by_year.reset_index()

# Change name of PCOFFOTMUSDM
coffee_price_arabica_df = coffee_price_arabica.rename(columns={'PCOFFOTMUSDM':'Global Price of Arabica Coffee (US cents per a lb)'})

coffee_price_arabica_df

    Years  Global Price of Arabica Coffee (US cents per a lb)
0    1990                                              89.15
1    1991                                              85.03
2    1992                                              61.74
3    1993                                              71.12
4    1994                                             147.35
5    1995                                             150.83
6    1996                                             121.97
7    1997                                             188.93
8    1998                                             135.47
9    1999                                             103.88
10   2000                                              87.20
11   2001                                              62.28
12   2002                                              61.46
13   2003                                              64.17
14   2004                                              80.48
15   2005                                             114.85
16   2006                                             114.41
17   2007                                             123.61
18   2008                                             139.71
19   2009                                             143.75
20   2010                                             196.05
21   2011                                             271.11
22   2012                                             186.44
23   2013                                             139.48
24   2014                                             200.36
25   2015                                             159.90
26   2016                                             163.84
27   2017                                             150.76
28   2018                                             132.71
29   2019                                             130.56
30   2020                                             150.83
31   2021                                             204.69
32   2022                                             255.47
33   2023                                             205.56

Coffee Price of Robusta Spieces

In [34]:
coffee_price_robusta = pd.read_csv('../Data/Raw/global_price_of_coffee_robusta.csv')
coffee_price_robusta

           DATE  PCOFFROBUSDM
0    1990-01-01     50.520000
1    1990-02-01     51.299999
2    1990-03-01     57.680000
3    1990-04-01     57.389999
4    1990-05-01     55.029999
..          ...           ...
402  2023-07-01    127.583333
403  2023-08-01    124.356522
404  2023-09-01    123.891429
405  2023-10-01    118.835000
406  2023-11-01    122.775909

[407 rows x 2 columns]

In [35]:
# Change DATE to datetime dtype
coffee_price_robusta['DATE'] = pd.to_datetime(coffee_price_robusta['DATE'])
# Filter to only the year 
coffee_price_robusta['Years'] = coffee_price_robusta['DATE'].dt.year

# Groupby Year to average the respective months of coffee prices
average_price_by_year = coffee_price_robusta.groupby('Years')['PCOFFROBUSDM'].mean().round(2)

# Reset index
coffee_price_robusta = average_price_by_year.reset_index()

# Change name of PCOFFROBUSDM
coffee_price_robusta_df = coffee_price_robusta.rename(columns={'PCOFFROBUSDM':'Global Price of Robusta Coffee (US cents per a lb)'})

coffee_price_robusta_df

    Years  Global Price of Robusta Coffee (US cents per a lb)
0    1990                                              54.99
1    1991                                              49.83
2    1992                                              42.22
3    1993                                              52.55
4    1994                                             117.24
5    1995                                             125.56
6    1996                                              81.96
7    1997                                              78.67
8    1998                                              82.72
9    1999                                              67.65
10   2000                                              41.56
11   2001                                              27.59
12   2002                                              29.99
13   2003                                              36.92
14   2004                                              35.97
15   2005                                              50.56
16   2006                                              67.58
17   2007                                              86.64
18   2008                                             105.20
19   2009                                              74.54
20   2010                                              78.73
21   2011                                             109.24
22   2012                                             102.84
23   2013                                              94.12
24   2014                                             100.42
25   2015                                              88.04
26   2016                                              88.62
27   2017                                             100.96
28   2018                                              84.77
29   2019                                              73.57
30   2020                                              68.76
31   2021                                              89.82
32   2022                                             103.63
33   2023                                             117.65

In [36]:
# Merge the two datasets
coffee_prices = pd.merge(coffee_price_arabica_df, coffee_price_robusta_df, on='Years')
coffee_prices

,Years,Global Price of Arabica Coffee (US cents per a lb),Global Price of Robusta Coffee (US cents per a lb)
0,1990,89.15,54.99
1,1991,85.03,49.83
2,1992,61.74,42.22
3,1993,71.12,52.55
4,1994,147.35,117.24
5,1995,150.83,125.56
6,1996,121.97,81.96
7,1997,188.93,78.67
8,1998,135.47,82.72
9,1999,103.88,67.65
10,2000,87.20,41.56
11,2001,62.28,27.59
12,2002,61.46,29.99
13,2003,64.17,36.92
14,2004,80.48,35.97
15,2005,114.85,50.56
16,2006,114.41,67.58
17,2007,123.61,86.64
18,2008,139.71,105.20
19,2009,143.75,74.54
20,2010,196.05,78.73
21,2011,271.11,109.24
22,2012,186.44,102.84
23,2013,139.48,94.12
24,2014,200.36,100.42
25,2015,159.90,88.04
26,2016,163.84,88.62
27,2017,150.76,100.96
28,2018,132.71,84.77
29,2019,130.56,73.57
30,2020,150.83,68.76
31,2021,204.69,89.82
32,2022,255.47,103.63
33,2023,205.56,117.65

In [37]:
# Save to .csv in cleaned folder
coffee_prices.to_csv('../Data/Cleaned/coffee_prices.csv')